[project]
	description = This repo is for testing of git functionalities / different merging conflict scenarios
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yingying93wang
[access "refs/for/refs/*"]
	read = group user/yingying93wang
	push = group user/yingying93wang
	label-Code-Review = -2..+2 group user/yingying93wang
	label-Verified = -1..+1 group user/yingying93wang
	rebase = group user/yingying93wang
	removeReviewer = group user/yingying93wang
	submit = group user/yingying93wang
[access "refs/heads/*"]
	read = group user/yingying93wang
	create = group user/yingying93wang
	push = +force group user/yingying93wang
	pushMerge = group user/yingying93wang
[access "refs/tags/*"]
	push = group user/yingying93wang
	push = +force group user/yingying93wang
